trunk/Mobile Client/ContextBlogger/src/blogger/Blogger.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:Blogger/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="urn:Blogger/types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Blogger" targetNamespace="urn:Blogger/wsdl">
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:Blogger/types" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:Blogger/types">
      <complexType name="Login">
        <sequence>
          <element name="String_1" type="string" nillable="true"/></sequence></complexType>
      <complexType name="LoginResponse">
        <sequence>
          <element name="result" type="boolean"/></sequence></complexType>
      <complexType name="Post">
        <sequence>
          <element name="String_1" type="string" nillable="true"/>
          <element name="String_2" type="string" nillable="true"/>
          <element name="String_3" type="string" nillable="true"/>
          <element name="String_4" type="string" nillable="true"/>
          <element name="String_5" type="string" nillable="true"/></sequence></complexType>
      <complexType name="PostResponse">
        <sequence>
          <element name="result" type="string" nillable="true"/></sequence></complexType>
      <complexType name="getCategories">
        <sequence>
          <element name="String_1" type="string" nillable="true"/></sequence></complexType>
      <complexType name="getCategoriesResponse">
        <sequence>
          <element name="result" type="string" nillable="true"/></sequence></complexType>
      <complexType name="getRating">
        <sequence>
          <element name="String_1" type="string" nillable="true"/>
          <element name="String_2" type="string" nillable="true"/>
          <element name="String_3" type="string" nillable="true"/></sequence></complexType>
      <complexType name="getRatingResponse">
        <sequence>
          <element name="result" type="string" nillable="true"/></sequence></complexType>
      <complexType name="postComment">
        <sequence>
          <element name="String_1" type="string" nillable="true"/>
          <element name="String_2" type="string" nillable="true"/>
          <element name="String_3" type="string" nillable="true"/></sequence></complexType>
      <complexType name="postCommentResponse">
        <sequence>
          <element name="result" type="string" nillable="true"/></sequence></complexType>
      <complexType name="postMedia">
        <sequence>
          <element name="String_1" type="string" nillable="true"/></sequence></complexType>
      <complexType name="postMediaResponse">
        <sequence>
          <element name="result" type="string" nillable="true"/></sequence></complexType>
      <complexType name="registerUser">
        <sequence>
          <element name="String_1" type="string" nillable="true"/>
          <element name="String_2" type="string" nillable="true"/>
          <element name="String_3" type="string" nillable="true"/></sequence></complexType>
      <complexType name="registerUserResponse">
        <sequence>
          <element name="result" type="string" nillable="true"/></sequence></complexType>
      <complexType name="retreive_blog">
        <sequence>
          <element name="String_1" type="string" nillable="true"/>
          <element name="String_2" type="string" nillable="true"/></sequence></complexType>
      <complexType name="retreive_blogResponse">
        <sequence>
          <element name="result" type="string" nillable="true"/></sequence></complexType>
      <complexType name="retrieve_blogList">
        <sequence>
          <element name="String_1" type="string" nillable="true"/>
          <element name="String_2" type="string" nillable="true"/></sequence></complexType>
      <complexType name="retrieve_blogListResponse">
        <sequence>
          <element name="result" type="string" nillable="true"/></sequence></complexType>
      <complexType name="setRating">
        <sequence>
          <element name="String_1" type="string" nillable="true"/>
          <element name="String_2" type="string" nillable="true"/>
          <element name="String_3" type="string" nillable="true"/>
          <element name="int_4" type="int"/></sequence></complexType>
      <complexType name="setRatingResponse">
        <sequence>
          <element name="result" type="string" nillable="true"/></sequence></complexType>
      <element name="Login" type="tns:Login"/>
      <element name="LoginResponse" type="tns:LoginResponse"/>
      <element name="Post" type="tns:Post"/>
      <element name="PostResponse" type="tns:PostResponse"/>
      <element name="getCategories" type="tns:getCategories"/>
      <element name="getCategoriesResponse" type="tns:getCategoriesResponse"/>
      <element name="getRating" type="tns:getRating"/>
      <element name="getRatingResponse" type="tns:getRatingResponse"/>
      <element name="postComment" type="tns:postComment"/>
      <element name="postCommentResponse" type="tns:postCommentResponse"/>
      <element name="postMedia" type="tns:postMedia"/>
      <element name="postMediaResponse" type="tns:postMediaResponse"/>
      <element name="registerUser" type="tns:registerUser"/>
      <element name="registerUserResponse" type="tns:registerUserResponse"/>
      <element name="retreive_blog" type="tns:retreive_blog"/>
      <element name="retreive_blogResponse" type="tns:retreive_blogResponse"/>
      <element name="retrieve_blogList" type="tns:retrieve_blogList"/>
      <element name="retrieve_blogListResponse" type="tns:retrieve_blogListResponse"/>
      <element name="setRating" type="tns:setRating"/>
      <element name="setRatingResponse" type="tns:setRatingResponse"/></schema></types>
  <message name="BloggerSEI_Login">
    <part name="parameters" element="ns2:Login"/></message>
  <message name="BloggerSEI_LoginResponse">
    <part name="result" element="ns2:LoginResponse"/></message>
  <message name="BloggerSEI_Post">
    <part name="parameters" element="ns2:Post"/></message>
  <message name="BloggerSEI_PostResponse">
    <part name="result" element="ns2:PostResponse"/></message>
  <message name="BloggerSEI_getCategories">
    <part name="parameters" element="ns2:getCategories"/></message>
  <message name="BloggerSEI_getCategoriesResponse">
    <part name="result" element="ns2:getCategoriesResponse"/></message>
  <message name="BloggerSEI_getRating">
    <part name="parameters" element="ns2:getRating"/></message>
  <message name="BloggerSEI_getRatingResponse">
    <part name="result" element="ns2:getRatingResponse"/></message>
  <message name="BloggerSEI_postComment">
    <part name="parameters" element="ns2:postComment"/></message>
  <message name="BloggerSEI_postCommentResponse">
    <part name="result" element="ns2:postCommentResponse"/></message>
  <message name="BloggerSEI_postMedia">
    <part name="parameters" element="ns2:postMedia"/></message>
  <message name="BloggerSEI_postMediaResponse">
    <part name="result" element="ns2:postMediaResponse"/></message>
  <message name="BloggerSEI_registerUser">
    <part name="parameters" element="ns2:registerUser"/></message>
  <message name="BloggerSEI_registerUserResponse">
    <part name="result" element="ns2:registerUserResponse"/></message>
  <message name="BloggerSEI_retreive_blog">
    <part name="parameters" element="ns2:retreive_blog"/></message>
  <message name="BloggerSEI_retreive_blogResponse">
    <part name="result" element="ns2:retreive_blogResponse"/></message>
  <message name="BloggerSEI_retrieve_blogList">
    <part name="parameters" element="ns2:retrieve_blogList"/></message>
  <message name="BloggerSEI_retrieve_blogListResponse">
    <part name="result" element="ns2:retrieve_blogListResponse"/></message>
  <message name="BloggerSEI_setRating">
    <part name="parameters" element="ns2:setRating"/></message>
  <message name="BloggerSEI_setRatingResponse">
    <part name="result" element="ns2:setRatingResponse"/></message>
  <portType name="BloggerSEI">
    <operation name="Login">
      <input message="tns:BloggerSEI_Login"/>
      <output message="tns:BloggerSEI_LoginResponse"/></operation>
    <operation name="Post">
      <input message="tns:BloggerSEI_Post"/>
      <output message="tns:BloggerSEI_PostResponse"/></operation>
    <operation name="getCategories">
      <input message="tns:BloggerSEI_getCategories"/>
      <output message="tns:BloggerSEI_getCategoriesResponse"/></operation>
    <operation name="getRating">
      <input message="tns:BloggerSEI_getRating"/>
      <output message="tns:BloggerSEI_getRatingResponse"/></operation>
    <operation name="postComment">
      <input message="tns:BloggerSEI_postComment"/>
      <output message="tns:BloggerSEI_postCommentResponse"/></operation>
    <operation name="postMedia">
      <input message="tns:BloggerSEI_postMedia"/>
      <output message="tns:BloggerSEI_postMediaResponse"/></operation>
    <operation name="registerUser">
      <input message="tns:BloggerSEI_registerUser"/>
      <output message="tns:BloggerSEI_registerUserResponse"/></operation>
    <operation name="retreive_blog">
      <input message="tns:BloggerSEI_retreive_blog"/>
      <output message="tns:BloggerSEI_retreive_blogResponse"/></operation>
    <operation name="retrieve_blogList">
      <input message="tns:BloggerSEI_retrieve_blogList"/>
      <output message="tns:BloggerSEI_retrieve_blogListResponse"/></operation>
    <operation name="setRating">
      <input message="tns:BloggerSEI_setRating"/>
      <output message="tns:BloggerSEI_setRatingResponse"/></operation></portType>
  <binding name="BloggerSEIBinding" type="tns:BloggerSEI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="Login">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/></input>
      <output>
        <soap:body use="literal"/></output></operation>
    <operation name="Post">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/></input>
      <output>
        <soap:body use="literal"/></output></operation>
    <operation name="getCategories">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/></input>
      <output>
        <soap:body use="literal"/></output></operation>
    <operation name="getRating">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/></input>
      <output>
        <soap:body use="literal"/></output></operation>
    <operation name="postComment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/></input>
      <output>
        <soap:body use="literal"/></output></operation>
    <operation name="postMedia">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/></input>
      <output>
        <soap:body use="literal"/></output></operation>
    <operation name="registerUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/></input>
      <output>
        <soap:body use="literal"/></output></operation>
    <operation name="retreive_blog">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/></input>
      <output>
        <soap:body use="literal"/></output></operation>
    <operation name="retrieve_blogList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/></input>
      <output>
        <soap:body use="literal"/></output></operation>
    <operation name="setRating">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/></input>
      <output>
        <soap:body use="literal"/></output></operation></binding>
  <service name="Blogger">
    <port name="BloggerSEIPort" binding="tns:BloggerSEIBinding">
      <soap:address location="http://192.168.0.122:8080/CM1/Blogger" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"/></port></service></definitions>